1.5.3/application/src/main/resources/wsdl/xsdCabecalhoExterno.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://igfej.mj.pt/schemas/data/cabecalho" xmlns="http://igfej.mj.pt/schemas/data/cabecalho" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="cabecalho" type="CabecalhoTipo"/>
  <xsd:complexType name="CabecalhoTipo">
    <xsd:sequence>
      <xsd:element name="utilizador" type="UtilizadorTipo"/>
      <xsd:element name="de" type="DeTipo"/>
      <xsd:element minOccurs="0" name="comunicacao" type="ComunicacaoTipo"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="UtilizadorTipo">
    <xsd:sequence>
      <xsd:element name="nome" type="Texto120o"/>
      <xsd:element name="utilizador" type="Texto64o"/>
      <xsd:element minOccurs="0" name="chave" type="Texto256o"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DeTipo">
    <xsd:sequence>
      <xsd:element name="aplicacao" type="Texto50o"/>
      <xsd:element name="servico" type="Texto50o"/>
      <xsd:element name="departamento" type="Texto50o"/>
      <xsd:element minOccurs="0" name="idSessao" type="Texto50o"/>
      <xsd:element name="ip" type="IpTipo"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="IpTipo">
    <xsd:choice>
      <xsd:element name="ipv4" type="Ipv4"/>
      <xsd:element name="ipv6" type="Ipv6"/>
    </xsd:choice>
  </xsd:complexType>
  <xsd:complexType name="ComunicacaoTipo">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="idMensagemExterna" type="Texto80o"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="Ipv4">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="((1?[0-9]?[0-9]|2[0-4][0-9]|25[0-5]).){3}(1?[0-9]?[0-9]|2[0-4][0-9]|25[0-5])"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Ipv6">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="([A-Fa-f0-9]{1,4}:){7}[A-Fa-f0-9]{1,4}"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Texto64o">
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="1"/>
      <xsd:maxLength value="64"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Texto120o">
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="1"/>
      <xsd:maxLength value="120"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Texto256o">
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="1"/>
      <xsd:maxLength value="256"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Texto50o">
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="1"/>
      <xsd:maxLength value="50"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Texto80o">
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="1"/>
      <xsd:maxLength value="80"/>
    </xsd:restriction>
  </xsd:simpleType>
</xsd:schema>