1.5.3/application/src/main/resources/wsdl/xsdMensagem.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://igfej.mj.pt/schemas/data/mensagem" version="1.0.0" xmlns="http://igfej.mj.pt/schemas/data/mensagem" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="MensagemTipo">
    <xs:sequence>
      <xs:element name="codigo" type="xs:int"/>
      <xs:element minOccurs="0" name="descricao" type="xs:string"/>
      <xs:element name="idMensagem" type="xs:string"/>
      <xs:element minOccurs="0" name="idMensagemExterna" type="xs:string"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="parametrosGenericos" type="ParametroGenerico"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ParametroGenerico">
    <xs:sequence>
      <xs:element minOccurs="0" name="nome" type="xs:string"/>
      <xs:element minOccurs="0" name="tipo" type="xs:string"/>
      <xs:element minOccurs="0" name="valor" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>