last-successfull/ReC/rec.am.client/src/wsdl/localhost_8080/rec.am/AllocationManagerWSService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-752-. --><xs:schema xmlns:tns="http://ws.am.rec.linkare.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws.am.rec.linkare.com/">

<xs:element name="count" type="tns:count" />

<xs:element name="countResponse" type="tns:countResponse" />

<xs:element name="echo" type="tns:echo" />

<xs:element name="echoResponse" type="tns:echoResponse" />

<xs:element name="find" type="tns:find" />

<xs:element name="findByName" type="tns:findByName" />

<xs:element name="findByNameResponse" type="tns:findByNameResponse" />

<xs:element name="findResponse" type="tns:findResponse" />

<xs:element name="getAllLaboratories" type="tns:getAllLaboratories" />

<xs:element name="getAllLaboratoriesResponse" type="tns:getAllLaboratoriesResponse" />

<xs:complexType name="findByName">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="findByNameResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="count">
<xs:sequence />
</xs:complexType>

<xs:complexType name="countResponse">
<xs:sequence>
<xs:element name="return" type="xs:int" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="find">
<xs:sequence>
<xs:element name="arg0" type="xs:long" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="findResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAllLaboratories">
<xs:sequence />
</xs:complexType>

<xs:complexType name="getAllLaboratoriesResponse">
<xs:sequence>
<xs:element name="return" type="tns:laboratory" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="laboratory">
<xs:complexContent>
<xs:extension base="tns:defaultDomainObject">
<xs:sequence>
<xs:element name="description" type="xs:string" minOccurs="0" />
<xs:element name="experiments" type="tns:experiment" nillable="true" minOccurs="0" maxOccurs="unbounded" />
<xs:element name="name" type="xs:string" minOccurs="0" />
<xs:element name="state" type="tns:state" minOccurs="0" />
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="defaultDomainObject">
<xs:complexContent>
<xs:extension base="tns:domainObject">
<xs:sequence>
<xs:element name="idInternal" type="xs:long" minOccurs="0" />
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="domainObject" abstract="true">
<xs:sequence />
</xs:complexType>

<xs:complexType name="experiment">
<xs:complexContent>
<xs:extension base="tns:defaultDomainObject">
<xs:sequence>
<xs:element name="description" type="xs:string" minOccurs="0" />
<xs:element name="laboratory" type="tns:laboratory" minOccurs="0" />
<xs:element name="name" type="xs:string" minOccurs="0" />
<xs:element name="reservations" type="tns:reservation" nillable="true" minOccurs="0" maxOccurs="unbounded" />
<xs:element name="state" type="tns:state" minOccurs="0" />
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="reservation">
<xs:complexContent>
<xs:extension base="tns:defaultDomainObject">
<xs:sequence>
<xs:element name="allDay" type="xs:boolean" />
<xs:element name="endDate" type="xs:dateTime" minOccurs="0" />
<xs:element name="endTimeSlot" type="xs:string" minOccurs="0" />
<xs:element name="experiment" type="tns:experiment" minOccurs="0" />
<xs:element name="externalCourse" type="xs:string" minOccurs="0" />
<xs:element name="externalURL" type="xs:string" minOccurs="0" />
<xs:element name="externalUser" type="xs:string" minOccurs="0" />
<xs:element name="id" type="xs:string" minOccurs="0" />
<xs:element name="moodleRecord" type="tns:moodleRecord" minOccurs="0" />
<xs:element name="startDate" type="xs:dateTime" minOccurs="0" />
<xs:element name="startTimeSlot" type="xs:string" minOccurs="0" />
<xs:element name="title" type="xs:string" minOccurs="0" />
<xs:element name="userGroup" type="tns:userGroup" minOccurs="0" />
<xs:element name="userPrincipal" type="tns:userPrincipal" minOccurs="0" />
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="moodleRecord">
<xs:sequence>
<xs:element name="externalCourseId" type="xs:string" minOccurs="0" />
<xs:element name="externalUser" type="xs:string" minOccurs="0" />
<xs:element name="moodleUrl" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="userGroup">
<xs:complexContent>
<xs:extension base="tns:group">
<xs:sequence>
<xs:element name="members" type="tns:userPrincipal" nillable="true" minOccurs="0" maxOccurs="unbounded" />
<xs:element name="nonMembers" type="tns:userPrincipal" nillable="true" minOccurs="0" maxOccurs="unbounded" />
<xs:element name="reservations" type="tns:reservation" nillable="true" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="group">
<xs:complexContent>
<xs:extension base="tns:principal">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="principal" abstract="true">
<xs:complexContent>
<xs:extension base="tns:defaultDomainObject">
<xs:sequence>
<xs:element name="childs" type="tns:principal" nillable="true" minOccurs="0" maxOccurs="unbounded" />
<xs:element name="directChilds" type="tns:principal" nillable="true" minOccurs="0" maxOccurs="unbounded" />
<xs:element name="directParents" type="tns:principal" nillable="true" minOccurs="0" maxOccurs="unbounded" />
<xs:element name="parents" type="tns:principal" nillable="true" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="userPrincipal">
<xs:complexContent>
<xs:extension base="tns:user">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0" />
<xs:element name="reservations" type="tns:reservation" nillable="true" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="user">
<xs:complexContent>
<xs:extension base="tns:principal">
<xs:sequence>
<xs:element name="identifications" type="tns:identification" nillable="true" minOccurs="0" maxOccurs="unbounded" />
<xs:element name="subject" type="tns:subject" minOccurs="0" />
<xs:element name="username" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="identification" abstract="true">
<xs:complexContent>
<xs:extension base="tns:defaultDomainObject">
<xs:sequence>
<xs:element name="user" type="tns:user" minOccurs="0" />
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="subject">
<xs:complexContent>
<xs:extension base="tns:defaultDomainObject">
<xs:sequence>
<xs:element name="name" type="tns:personName" minOccurs="0" />
<xs:element name="user" type="tns:user" minOccurs="0" />
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="personName">
<xs:sequence />
</xs:complexType>

<xs:complexType name="state">
<xs:sequence>
<xs:element name="active" type="xs:boolean" />
<xs:element name="helpMessage" type="xs:string" minOccurs="0" />
<xs:element name="label" type="xs:string" minOccurs="0" />
<xs:element name="url" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="echo">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="echoResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>
</xs:schema>