last-successfull/eLab/rec.am.client/src/wsdl/localhost_8080/rec.am/AllocationManagerWSService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-752-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-752-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.am.rec.linkare.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.am.rec.linkare.com/" name="AllocationManagerWSService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.am.rec.linkare.com/" schemaLocation="http://localhost:8080/rec.am/AllocationManagerWSService?xsd=1" />
</xsd:schema>
</types>
<message name="count">
<part name="parameters" element="tns:count" />
</message>
<message name="countResponse">
<part name="parameters" element="tns:countResponse" />
</message>
<message name="find">
<part name="parameters" element="tns:find" />
</message>
<message name="findResponse">
<part name="parameters" element="tns:findResponse" />
</message>
<message name="echo">
<part name="parameters" element="tns:echo" />
</message>
<message name="echoResponse">
<part name="parameters" element="tns:echoResponse" />
</message>
<message name="findByName">
<part name="parameters" element="tns:findByName" />
</message>
<message name="findByNameResponse">
<part name="parameters" element="tns:findByNameResponse" />
</message>
<message name="getAllLaboratories">
<part name="parameters" element="tns:getAllLaboratories" />
</message>
<message name="getAllLaboratoriesResponse">
<part name="parameters" element="tns:getAllLaboratoriesResponse" />
</message>
<portType name="AllocationManagerWSInterface">
<operation name="count">
<input wsam:Action="http://ws.am.rec.linkare.com/AllocationManagerWSInterface/countRequest" message="tns:count" />
<output wsam:Action="http://ws.am.rec.linkare.com/AllocationManagerWSInterface/countResponse" message="tns:countResponse" />
</operation>
<operation name="find">
<input wsam:Action="http://ws.am.rec.linkare.com/AllocationManagerWSInterface/findRequest" message="tns:find" />
<output wsam:Action="http://ws.am.rec.linkare.com/AllocationManagerWSInterface/findResponse" message="tns:findResponse" />
</operation>
<operation name="echo">
<input wsam:Action="http://ws.am.rec.linkare.com/AllocationManagerWSInterface/echoRequest" message="tns:echo" />
<output wsam:Action="http://ws.am.rec.linkare.com/AllocationManagerWSInterface/echoResponse" message="tns:echoResponse" />
</operation>
<operation name="findByName">
<input wsam:Action="http://ws.am.rec.linkare.com/AllocationManagerWSInterface/findByNameRequest" message="tns:findByName" />
<output wsam:Action="http://ws.am.rec.linkare.com/AllocationManagerWSInterface/findByNameResponse" message="tns:findByNameResponse" />
</operation>
<operation name="getAllLaboratories">
<input wsam:Action="http://ws.am.rec.linkare.com/AllocationManagerWSInterface/getAllLaboratoriesRequest" message="tns:getAllLaboratories" />
<output wsam:Action="http://ws.am.rec.linkare.com/AllocationManagerWSInterface/getAllLaboratoriesResponse" message="tns:getAllLaboratoriesResponse" />
</operation>
</portType>
<binding name="AllocationManagerWSPortBinding" type="tns:AllocationManagerWSInterface">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="count">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="find">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="echo">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="findByName">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getAllLaboratories">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="AllocationManagerWSService">
<port name="AllocationManagerWSPort" binding="tns:AllocationManagerWSPortBinding">
<soap:address location="http://localhost:8080/rec.am/AllocationManagerWSService" />
</port>
</service>
</definitions>